<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<pre>
    <span th:text="${value1}"></span>

    colors:<span th:text="${colors}">colors</span>
    <span th:each="color,iterStat : ${colors}">
        This is color:
        <span th:text="${iterStat.index}"></span>
        <span th:text="${color}"></span>
        <span th:text="${iterStat.count}"></span>
    </span>

    <table>
        <tr th:each="map:${map}">
            <td>Number:</td>
            <td th:text="${map.key}"></td>
            <td>Value:</td>
            <td th:text="${map.value}"></td>
        </tr>
    </table>

    <span th:text="${user.name}"></span>
    <span th:text="${user.description}"></span>
    <span th:text="${user.getDescription()}"></span>

    <span th:with="title"></span>
    Title:<span th:text="${title}"></span>
</pre>
</body>
</html>