<div th:include="header::header" xmlns:th="http://www.w3.org/1999/xhtml"></div>

<link rel="stylesheet" media="all" href="../styles/letter.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <li id="conversation-item-10005_622873" th:each="conversation:${conversations}">
                    <a class="letter-link" th:href="'/msg/detail?conversationId='+${conversation.get('message').getConversationId()}"></a>
                    <div class="letter-info">
                        <span class="l-time" th:text="${#dates.format(conversation.get('message').getCreatedDate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                        <div class="l-operate-bar">
                            <!--<a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>-->
                            <a th:href="'/msg/detail?'+${conversation.get('message').getConversationId()}">
                                共<span th:text="${conversation.get('message').getId()}"></span>条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num" th:text="${conversation.get('unread')}">
                        </span>
                        <a class="list-head">
                            <img alt="头像" th:src="${conversation.get('user').getHeadUrl()}">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1" th:text="${conversation.get('user').getName()}">

                        </a>
                        <p class="letter-brief" th:text="${conversation.get('message').getContent()}">

                        </p>
                    </div>
                </li>
                </ul>

        </div>
    </div>
<div th:include="js::js" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
<div th:include="footer::footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>